    /* general selectors*/
    
    @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Ubuntu', sans-serif;
        /*No ScrollBar Across or X-axis*/
        overflow-x: hidden;
        align-items: center;
        justify-content: center;
        height: 100vh;
        background-image: linear-gradient(90deg, #7d5fff, #7158e2);
        display: flex;
        z-index: -1;
    }
    /*CSS for all indexBronx.html page*/
    
    .background {
        background-image: url('./assets/waste_3.jpg');
        grid-column: col1-start/col7-end;
        grid-row: row2-start/row3-end;
        z-index: 0;
        filter: blur(30px);
        background-size: 100%;
        background-position: center;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
    }
    
    .loading-text {
        font-size: 50px;
        color: black;
        grid-column: col4-start/col5-start;
        grid-row: row2-start/row2-end;
        align-self: center;
        justify-self: center;
        z-index: 1;
    }
    
    section.background>div.content {
        font-size: 1rem;
        color: white;
        display: flex;
        flex-direction: column;
        justify-items: center;
        align-items: center;
    }
    
    section.background div.content .section-background-heading {
        margin: 0;
        padding-top: 5px;
    }
    
    span.section-background-heading {
        border: white .25rem solid;
        background-color: black;
    }
    
    p {
        border: white .25rem solid;
        background-color: black;
        margin: 10px;
        max-width: 65vw;
    }
    /*For the list-items in FAQ*/
    
    ol.ordered-list {
        border: white .25rem solid;
        margin: 0;
        background-color: black;
    }
    
    li#ordered-list-1,
    li#ordered-list-2,
    li#ordered-list-3 {
        padding: 5px;
    }
    /*Main Content Page
        FAQ
*/
    
    h1#section-background-heading-h1 {
        margin: 0;
        padding-top: 1rem;
    }
    
    h2.section-background-headlines-h2 {
        margin: 0;
        padding-top: 20px;
    }
    
    h3.section-background-headlines-h3 {
        margin: 0;
        padding-top: 20px;
        align-self: flex-start;
        padding-left: 1%;
    }
    
    section.background div.content .section-background-paragraph>span {
        background-color: black;
    }
    
    span.flex-item-heading-span {
        background-color: black;
    }
    
    div.container-all {
        display: grid;
        grid-template-rows: [row1-start] 10% [row1-end row2-start] 80% [row2-end row3-start] 10% [row3-end];
        grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr [col3-end col4-start] 1fr [col4-end col5-start] 1fr [col5-end col6-start] 1fr [col6-end col7-start] 1fr [col7-end];
        transform-origin: top left;
        transition: transform 0.5s linear;
        row-gap: 10px;
        background-color: lightgray;
        width: 100vw;
        min-height: 100vh;
    }
    /* search bar css */
    
    div.search {
        grid-column: col6-start/col7-end;
        position: relative;
        justify-content: center;
        align-content: center;
    }
    
    div.search input.input {
        background-color: white;
        border: 0;
        font-size: max(20px, 1vw);
        height: 50px;
        width: 70px;
        transition: width ease 0.3s;
        margin-top: 30px;
    }
    
    div.search button#search-btn {
        background-color: white;
        border: 0;
        cursor: pointer;
        font-size: max(24px, 1vw);
        top: 0;
        left: 0;
        height: 50px;
        width: 70px;
        transition: transform 0.3s ease;
        margin-top: 30px;
        /*This sets the position of our search button on top of our search input*/
        position: absolute;
    }
    
    button#search-btn:focus,
    .input:focus {
        outline: none;
    }
    
    div.search.active .input {
        width: 200px;
    }
    
    div.search.active button#search-btn {
        transform: translateX(205px);
    }
    /*nav bar when show-nav is activated*/
    
    div.container-all.show-nav {
        transform: rotate(-20deg);
    }
    
    div.container-all.show-nav+nav li {
        transform: translateX(0);
        transition-delay: 0.3s;
    }
    
    div.circle-container {
        grid-column-start: col1-start;
        grid-column-end: col1-end;
        grid-row-start: row1-start;
    }
    
    .circle {
        background-color: #ff7979;
        position: relative;
        left: -125px;
        transition: transform 0.5s linear;
    }
    
    .circle button {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-size: 26px;
        height: 100px;
        background: transparent;
        /*Take off the Border*/
        border: 0;
        cursor: pointer;
    }
    
    .circle button:focus {
        outline: none;
    }
    
    .circle button#open {
        left: 60%;
    }
    
    .circle button#close {
        top: 60%;
        transform: rotate(90deg);
        transform-origin: top left;
    }
    
    .container-all.show-nav .circle button#close {
        transform: rotate(30deg);
        top: 40vh;
        left: 5vh;
    }
    /* Selector for Nav Bar*/
    
    nav {
        position: fixed;
        bottom: 40px;
        left: 0px;
        z-index: 1;
        grid-column: col1-start/col2-start;
        grid-row: row1-start;
    }
    
    nav a {
        text-decoration: none;
        color: white;
        padding-left: 5px;
    }
    
    nav ul {
        list-style-type: none;
        padding-left: 30px;
    }
    
    nav ul li {
        text-transform: uppercase;
        color: white;
        margin: 30px 0;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in;
    }
    
    nav ul li i {
        font-size: 100%;
    }
    
    nav ul li+li {
        margin-left: 15px;
        transform: translateX(-150%);
    }
    
    nav ul li+li+li {
        margin-left: 30px;
        transform: translateX(-200%);
    }
    /*Add Images to Nav Bar*/
    
    h1#main-heading {
        grid-row: row1-start/row1-end;
        grid-column: col2-start/col6-start;
        margin: 0;
        font-size: 2.5rem;
        color: #7158e2;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
    
    h1#main-heading>span {
        border: 10px groove #7158e2;
    }
    /*CS Selector for adding link at contact US*/
    
    a#contact-us-link {
        text-decoration: none;
        color: white;
    }
    
    a#contact-us-link:hover {
        cursor: pointer;
        font-size: larger;
        color: #7158e2;
    }
    /*Table CSS was inspired by http://blog.justinwoodie.com/2013/08/fancy-html-table-styled-with-css.html#*/
    
    table a:link {
        color: black;
    }
    /* unvisited link */
    
    table a:visited {
        color: black;
    }
    /* visited link */
    
    a:hover {
        color: #81d50d;
    }
    /* mouse over link */
    
    a:active {
        color: #81d50d;
    }
    /* selected link */
    
    table#table-calendar {
        background-color: inherit;
        margin-top: 15px;
        width: 65vw;
        border-top-left-radius: 15px 15px;
        -moz-border-radius-topleft: 15px 15px;
        border-radius-topleft: 15px 15px;
        border-top-right-radius: 15px 15px;
        -moz-border-radius-topright: 15px 15px;
        border-radius-topright: 15px 15px;
        font-family: Arial, Helvetica, sans-serif;
        color: #222222;
        border-collapse: collapse;
    }
    
    table#table-calendar th {
        padding: 5px;
        border-top-left-radius: 15px 15px;
        -moz-border-radius-topleft: 15px 15px;
        border-radius-topleft: 15px 15px;
        border-top-right-radius: 15px 15px;
        -moz-border-radius-topright: 15px 15px;
        border-radius-topright: 15px 15px;
        font-size: 1.1em;
        text-align: center;
        background: -moz-linear-gradient(bottom, #666666, #222222);
        background: -webkit-linear-gradient(top, #666666, #222222);
        background: -o-linear-gradient(top, #666666, #222222);
        background: linear-gradient(top, #666666, #222222);
        color: #81d50d;
        text-shadow: 2px 2px 2px #222222;
    }
    
    table#table-calendar tr.alt2 td {
        padding: 5px;
        border-bottom-left-radius: 15px 15px;
        -moz-border-radius-bottomleft: 15px 15px;
        border-radius-bottomleft: 15px 15px;
        border-bottom-right-radius: 15px 15px;
        -moz-border-radius-bottomright: 15px 15px;
        border-radius-bottomright: 15px 15px;
        font-size: .75em;
        text-align: center;
        background: -moz-linear-gradient(bottom, #666666, #222222);
        background: -webkit-linear-gradient(top, #666666, #222222);
        background: -o-linear-gradient(top, #666666, #222222);
        background: linear-gradient(top, #666666, #222222);
        color: #81d50d;
        text-shadow: 2px 2px 2px #222222;
    }
    
    table#table-calendar th {
        font-size: 1em;
    }
    
    table#table-calendar td {
        padding: 5px;
        background-color: #f0f0f0;
        font-size: 1em;
    }
    
    table#table-calendar tr.alt td {
        background-color: cccccc;
    }
    
    table#table-calendar tr:hover td {
        background: -moz-linear-gradient(bottom, #666666, #222222) !important;
        background: -webkit-linear-gradient(top, #666666, #222222);
        background: -o-linear-gradient(top, #666666, #222222);
        background: linear-gradient(top, #666666, #222222);
        color: #81d50d;
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        cursor: pointer;
        font-size: larger;
        color: yellow;
    }