    /* general selectors*/
    
    @import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Lato', sans-serif;
        /*No ScrollBar Across or X-axis*/
        overflow: hidden;
        display: flex;
        background-image: linear-gradient(90deg, #7d5fff, #7158e2);
        margin: 0;
        height: 100vh;
        width: 100vw;
    }
    
    span.flex-item-heading-span {
        background-color: black;
    }
    
    div.container-all {
        display: grid;
        grid-template-rows: [row1-start] 15% [row1-end row2-start] 80% [row2-end row3-start] 5% [row3-end];
        grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr [col3-end col4-start] 1fr [col4-end col5-start] 1fr [col5-end col6-start] 1fr [col6-end col7-start] 1fr [col7-end];
        transform-origin: top left;
        transition: transform 0.3s linear;
        row-gap: 10px;
        background-image: url('./assets/mainNyc.jpg');
        background-size: auto 100%;
        background-repeat: no-repeat;
        width: 100vw;
        min-height: 100vh;
    }
    /* search bar css */
    
    div.search {
        grid-column: col6-start/col7-end;
        position: relative;
        align-self: center;
    }
    
    div.search input.input {
        background-color: white;
        border: 0;
        font-size: max(20px, 1vw);
        height: 50px;
        width: 70px;
        transition: width ease 0.3s;
    }
    
    div.search button#search-btn {
        background-color: white;
        border: 0;
        cursor: pointer;
        font-size: max(24px, 1vw);
        top: 0;
        left: 0;
        height: 50px;
        width: 70px;
        transition: transform 0.3s ease;
        /*This sets the position of our search button on top of our search input*/
        position: absolute;
    }
    
    button#search-btn:focus,
    .input:focus {
        outline: none;
    }
    
    div.search.active .input {
        width: 200px;
    }
    
    div.search.active button#search-btn {
        transform: translateX(205px);
    }
    /*nav bar when show-nav is activated*/
    
    div.container-all.show-nav {
        transform: rotate(-20deg);
    }
    
    div.container-all.show-nav+nav li {
        transform: translateX(0);
        transition-delay: 0.3s;
    }
    
    .container-all.show-nav .circle button#close {
        transform: rotate(30deg);
        top: 40vh;
        left: 5vh;
    }
    
    div.circle-container {
        grid-column-start: col1-start;
        grid-column-end: col1-end;
        grid-row-start: row1-start;
    }
    
    .circle {
        background-color: #ff7979;
        position: relative;
        left: -125px;
        transition: transform 0.3s linear 0.2s;
    }
    
    .circle button {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-size: 26px;
        height: 100px;
        background: transparent;
        /*Take off the Border*/
        border: 0;
        cursor: pointer;
    }
    
    .circle button#open {
        left: 60%;
    }
    
    .circle button#close {
        top: 60%;
        transform: rotate(90deg);
        transform-origin: top left;
    }
    
    .circle button:focus {
        outline: none;
    }
    /*Panels*/
    
    div.flex-item {
        background-size: auto 100%;
        text-align: center;
        background-position: center;
        background-repeat: no-repeat;
        height: 80vh;
        border-radius: 50px;
        cursor: pointer;
        display: flex;
        /*cause we are using flex box we can change the width with flex*/
        transition: flex 0.7s ease-in;
    }
    /* Selector for Nav Bar*/
    
    nav {
        position: fixed;
        bottom: 40px;
        left: 0px;
        z-index: 1;
        grid-column: col1-start/col2-start;
        grid-row: row1-start;
    }
    
    nav a {
        text-decoration: none;
        color: white;
        padding-left: 5px;
    }
    
    nav ul {
        list-style-type: none;
        padding-left: 30px;
    }
    
    nav ul li {
        text-transform: uppercase;
        color: white;
        margin: 30px 0;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in;
    }
    
    nav ul li i {
        font-size: 100%;
    }
    
    nav ul li+li {
        margin-left: 15px;
        transform: translateX(-150%);
    }
    
    nav ul li+li+li {
        margin-left: 30px;
        transform: translateX(-200%);
    }
    /*Selectors for Headings in Panels*/
    
    div.flex-item h2 {
        font-size: 2rem;
        position: relative;
        top: 20%;
        opacity: 0;
        width: 100%;
        align-items: center;
        margin: 0;
    }
    
    div.container-flex {
        display: flex;
        grid-row: row2-start/row2-end;
        grid-column: col2-start/col6-end;
        justify-content: center;
        align-content: center;
    }
    
    div.flex-item#flex-item-bronx,
    div.flex-item#flex-item-brooklyn,
    div.flex-item#flex-item-manhattan,
    div.flex-item#flex-item-queens,
    div.flex-item#flex-item-staten-island,
    div.flex-item#flex-item-about-us,
    div.flex-item#flex-item-faq {
        flex: .5;
    }
    
    div.flex-item.active#flex-item-bronx,
    div.flex-item.active#flex-item-brooklyn,
    div.flex-item.active#flex-item-manhattan,
    div.flex-item.active#flex-item-queens,
    div.flex-item.active#flex-item-staten-island,
    div.flex-item.active#flex-item-about-us,
    div.flex-item.active#flex-item-faq {
        flex: 5;
        border-radius: 35%;
    }
    
    div.flex-item.active h2 {
        opacity: 1;
        text-decoration: underline;
        /* opacity .3s takes ease-in .4s delay*/
        transition: opacity 0.2s ease-in;
    }
    /*Selectors For Photos*/
    
    div#flex-item-bronx {
        background-image: url('./assets/Bronx_1.jpg');
        border-radius: 50px;
    }
    
    div#flex-item-brooklyn {
        background-image: url('./assets/Brooklyn_1.jpg');
        border-radius: 50px;
    }
    
    div#flex-item-manhattan {
        background-image: url('./assets/Manhattan_1.jpg');
        border-radius: 50px;
    }
    
    div#flex-item-queens {
        background-image: url('./assets/Queens_1.jpg');
        border-radius: 50px;
    }
    
    div#flex-item-staten-island {
        background-image: url('./assets/Staten_Island_1.jpg');
        border-radius: 50px;
    }
    
    div#flex-item-about-us {
        background-image: url('./assets/faq.jpg');
        border-radius: 50px;
    }
    
    div#flex-item-faq {
        background-image: url('./assets/waste_2.jpg');
        border-radius: 50px;
    }
    
    h1#main-heading {
        grid-row: row1-start/row1-end;
        grid-column: col2-start/col6-start;
        margin: 0;
        font-size: 2.5rem;
        color: #7158e2;
        justify-content: center;
        align-self: center;
        text-align: center;
    }
    
    h1#main-heading>span {
        border: 10px groove #7158e2;
    }
    /*under 480px this media query will hit only keep 1-3 flex-item panels*/
    
    @media (max-width: 480px) {
        div.container-flex-all {
            width: 100vw;
        }
        .flex-item:nth-of-type(4),
        .flex-item:nth-of-type(5),
        .flex-item:nth-of-type(6),
        .flex-item:nth-of-type(7) {
            display: none;
        }
    }
    
    a {
        text-decoration: none;
        color: white;
    }
    
    a:hover {
        cursor: pointer;
        font-size: larger;
        color: yellow;
    }