    /* general selectors*/
    
    @import url('https://fonts.googleapis.com/css?family=Ubuntu&display=swap');
    * {
        box-sizing: border-box;
    }
    
    body {
        font-family: 'Ubuntu', sans-serif;
        /*No ScrollBar Across or X-axis*/
        overflow-x: hidden;
        background-color: darkgray;
        align-items: center;
        justify-content: center;
        height: 100vh;
        margin: 0;
        color: #222;
        background-image: linear-gradient(90deg, #7d5fff, #7158e2)
    }
    /*CSS for all indexBronx.html page*/
    
    section.background {
        background: url('./assets/Bronx_1.jpg');
        position: absolute;
        /*less spacing*/
        top: -30px;
        left: -30px;
        width: calc(100vw+60px);
        height: calc(100vh+60px);
        /*Z-index of -1 puts our background behind our loading text*/
        z-index: -1;
        filter: blur(0px)
    }
    
    .loading-text {
        font-size: 50px;
        color: white;
    }
    
    span.flex-item-heading-span {
        background-color: black;
    }
    
    div.container-all {
        display: grid;
        grid-template-rows: [row1-start] 10% [row1-end row2-start] 80% [row2-end row3-start] 10% [row3-end];
        grid-template-columns: [col1-start] 1fr [col1-end col2-start] 1fr [col2-end col3-start] 1fr [col3-end col4-start] 1fr [col4-end col5-start] 1fr [col5-end col6-start] 1fr [col6-end col7-start] 1fr [col7-end];
        transform-origin: top left;
        transition: transform 0.5s linear;
        row-gap: 10px;
        background-color: lightgray;
        width: 100vw;
        min-height: 100vh;
    }
    /* search bar css */
    
    div.search {
        grid-column: col6-start/col7-end;
        position: relative;
        align-self: center;
    }
    
    div.search input.input {
        background-color: white;
        border: 0;
        font-size: max(20px, 1vw);
        height: 50px;
        width: 70px;
        transition: width ease .3s;
    }
    
    div.search button#search-btn {
        background-color: white;
        border: 0;
        cursor: pointer;
        font-size: max(24px, 1vw);
        top: 0;
        left: 0;
        height: 50px;
        width: 70px;
        transition: transform .3s ease;
        /*This sets the position of our search button on top of our search input*/
        position: absolute;
    }
    
    button#search-btn:focus,
    .input:focus {
        outline: none;
    }
    
    div.search.active .input {
        width: 200px;
    }
    
    div.search.active button#search-btn {
        transform: translateX(205px);
    }
    /* header-image css */
    
    div.header-image {
        background-size: 90%;
        height: auto;
        width: auto;
        background-position: center;
        background-repeat: no-repeat;
    }
    /*nav bar when show-nav is activated*/
    
    div.container-all.show-nav {
        transform: rotate(-20deg);
    }
    
    div.container-all.show-nav+nav li {
        transform: translateX(0);
        transition-delay: 0.3s;
    }
    
    div.circle-container {
        grid-column-start: col1-start;
        grid-column-end: col1-end;
        grid-row-start: row1-start;
    }
    
    .circle {
        background-color: #ff7979;
        border-radius: 5;
        position: relative;
        left: -125px;
        transition: transform 0.5s linear;
    }
    
    .circle button {
        position: absolute;
        top: 50%;
        left: 50%;
        color: white;
        font-size: 26px;
        height: 100px;
        background: transparent;
        /*Take off the Border*/
        border: 0;
        cursor: pointer;
    }
    
    .circle button:focus {
        outline: none;
    }
    
    .circle button#open {
        left: 60%;
    }
    
    .circle button#close {
        top: 60%;
        transform: rotate(90deg);
        transform-origin: top left;
    }
    
    .container-all.show-nav .circle button#close {
        top: 190px;
        transform: rotate(30deg);
    }
    /* Selector for Nav Bar*/
    
    nav {
        position: fixed;
        bottom: 40px;
        left: 0px;
        z-index: 1;
    }
    
    nav a {
        text-decoration: none;
        color: white;
        padding-left: 5px;
    }
    
    nav ul {
        list-style-type: none;
        padding-left: 30px;
    }
    
    nav ul li {
        text-transform: uppercase;
        color: white;
        margin: 30px 0;
        transform: translateX(-100%);
        transition: transform 0.4s ease-in;
    }
    
    nav ul li i {
        font-size: 100%;
    }
    
    nav ul li+li {
        margin-left: 15px;
        transform: translateX(-150%);
    }
    
    nav ul li+li+li {
        margin-left: 30px;
        transform: translateX(-200%);
    }